<!DOCTYPE HTML>
<html>
    <head>
        <title>Aufgabenverteilung</title>
    </head>
    <body>
        <h3> Hier könnt ihr sehen, wer was erledigt!</h3>
        <ul>
            <li> Putzen:  <%= wg_cleaner %> </li>
            <li> Kochen: <%= wg_cooker %> </li>
            <li> Einkaufen: <%= wg_shopper %> </li>
            <li> So alles andere:  <%= wg_something %> </li>
        </ul>
        <br>
        <br>

    </body>
</html>