<!DOCTYPE HTML>
<html>
    <head>
        <title>Something</title>
    </head>
    <body>
            Hier kannst du sehen was du so tun kannst: 
        <br>
        <ul>
            <% for(let i = 0; i < something.length; i++) { %>
                <li><%= something[i]%></li>
            <% } %>
            <br>
            <br>
            <br>
            <form action="/something" method="POST">
                Was kann noch so erledigt werden: <input type="text" name="added_task"><br>
                <button type="submit">Hinzufügen</button>
            </form>
        </ul>
        <br>
    </body>
</html>