<!DOCTYPE HTML>
<html>
    <head>
        <title>Errors</title>
    </head>
    <body>
        Oh ist einer der folgenden Fehler aufgetreten:
        <br>
        <ul>
            <% for(let i = 0; i < error.length; i++) { %>
                <li><%= error[i]%></li>
            <% } %>
        </ul>
    </body>
</html>